.container{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}
.card-text{
    color:black;
    font-weight: 700;
}
img{
    max-height: 130px;
    max-width: 200px;
    object-fit: contain;
}
